
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.Title{
    font-size: large;
    text-align: center;
    color: #eff0d5;
    font-family: 'Dancing Script', cursive;
}
