@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/*Mi perfil*/
h1 {
    color: #87b091;
    font-size: large;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 400%
}

/* Sofia ITC Mty */
h2 { 
    font-size: 80%;
    line-height: 0.6;
}


/* Estilos para la pt2 de la pagina */
.seccionado {
    margin-top: 60px;
    font-family: 'Dancing Script', cursive;
    color: #87b091;
    font-size: 200%
}


/* la descripcion y photografy*/
.textoComun {
    color: #eff0d5;
}

p { 
    font-size: 120%;
}

html, body{
    color: #c4d4ab;
    font-size: 100%;
    font-family: Garamond;
}

.margen {
    margin-left: 100px;
    margin-right: 100px;
    color: #eff0d5;
}





/* class with font in yellow */
.Counter {
    font-size: 1.Sem;
    text-align: center;
    color: #87b091;
    font-family: Garamond;
}

.ButtonUp{
    background-color: #c4d4ab;
    color: #171430;
}

.ButtonUp:hover{
    background-color: #87b091;
    color: #eff0d5 ;
}

.ButtonDown{
    background-color: #eff0d5;
    color: #171430;
}

.ButtonDown:hover{
    background-color: #87b091;
    color: #c4d4ab;
}